<div class="page-layout blank fullwidth pl-256 pr-256" fusePerfectScrollbar>
    <div class="header-bottom mt-80" fxLayout="row" fxLayoutAlign="center center">
        <div class="title text-center">
            <h5 class="m-0"><span class="mat-title p-0">SI NO EXISTE</span></h5>
            <h4 class="m-0"><span class="mat-display-3 p-0">LO CREAMOS</span></h4>
        </div>
    </div>
    <div class="mt-52 grid-cards ">
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
            <mat-grid-tile>
                <div class="fuse-card bg-blue">
                    <div class="p-24" fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="w-160 h-160 text-center">
                            <img src="assets/images/servicios/marketing.png">
                        </div>
                        <div class="pl-0 mt-24">
                            <div class="h3">MARKETING DE NICHO</div>
                            <p class="mt-24 line-height-1.75">
                                Posicionamiento de marca, estrategia y análisis de estadísticas (Google Analytics)
                            </p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="fuse-card bg-red">
                    <div class="p-24" fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="w-160 h-160 text-center">
                            <img src="assets/images/servicios/grafico.png">
                        </div>
                        <div class="pl-0 mt-24">
                            <div class="h3">DISE&Ntilde;O GR&Aacute;FICO</div>
                            <p class="mt-24 line-height-1.75">
                                Identidad Corporativa (Branding), fotograf&iacute;a de producto y motion graphics
                            </p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="fuse-card bg-green">
                    <div class="p-24" fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="w-160 h-160">
                            <img src="assets/images/servicios/conectividad.png">
                        </div>
                        <div class="pl-0 mt-24">
                            <div class="h3">CONECTIVIDAD Y REDES SOCIALES</div>
                            <p class="mt-24 line-height-1.75">
                                P&aacute;gina web, landing page, redes sociales.
                            </p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="fuse-card bg-yellow">
                    <div class="p-24" fxLayout="row" fxLayoutAlign="space-between start">
                        <div class="w-160 h-160">
                            <img src="assets/images/servicios/asesoria.png">
                        </div>
                        <div class="pl-0 mt-24">
                            <div class="h3">ASESOR&Iacute;A PARA REGISTRO DE MARCA</div>
                            <p class="mt-24 line-height-1.75">
                                IMPI (Instituto Mexicano de la Propiedad Industrial)
                            </p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
