<div class="page-layout blank fullwidth" fusePerfectScrollbar>
    <div class="logo text-center">
        <img class="logo-icon" src="/assets/images/content/map-logotipo.png"/>
    </div>
    <div class="header-bottom mt-80" fxLayout="row" fxLayoutAlign="center center">
        <div class="title text-center">
            <h5 class="m-0"><span class="mat-title p-0">NUESTRAS APORTACIONES AL</span></h5>
            <h4 class="m-0"><span class="mat-display-3 p-0">MUNDO</span></h4>
        </div>
    </div>
</div>
